html, body {
  margin: 0;
  padding: 0;
  min-width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

button {
  margin: 25px 0;
  padding: 18px 56px;
  color: white;
  background-color: #2174fd;
  border: none;
  font-size: 16px;
}

.fixed-container {
  padding-top: 65px;
  width: 960px;
  margin: 0 auto;
  display: flex;
}

#list-empty {
  margin-top: 49px;
}

.item {
  width: 470px;
  height: 140px;
  background-color: white;
  margin-bottom: 20px;
}

.name {
  font-size: 21px;
  width: 470px;
  height: 50px;
  background-color: #f5f5f5;
}

.item-name {
  padding: 18px;
}

.item-description {
  width: 470px;
  height: 86px;
  padding: 5px 20px;
  border-top: 1px solid #f5f5f5;
  font-size: 14px;
}

#right-col {
  width: 470px;
  height: 555px;
  background-color: #fff;
  margin-left: 20px;
}

.add-item-info {
  margin: 30px 40px;
}

.input-name {
  margin: 5px 0;
  width: 385px;
  height: 40px;
  margin-bottom: 28px;
  background-color: #fcfcfc;
  border: 1px solid #ebebeb;
}

.input-description {
  margin: 5px 0;
  width: 385px;
  height: 225px;
  resize: none;
  background-color: #fcfcfc;
  border: 1px solid #ebebeb;
}

.input-label {
  font-size: 14px;
}
